html,
body {
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 12pt;
  scroll-behavior: smooth; }

a {
  color: #fff; }

.header {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  z-index: 3; }

.header ul {
  margin: 5px;
  list-style: none;
  overflow: hidden; }

.header ul a {
  display: block;
  padding: 2px;
  text-decoration: none;
  justify-content: center;
  text-align: center; }

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  font-size: 1.3em; }

.header .menu-icon {
  padding: 20px 20px;
  position: relative;
  float: right;
  cursor: pointer; }

.header .menu-icon .nav-icon {
  background: #fff;
  display: block;
  height: 5px;
  width: 30px;
  position: relative;
  border-radius: 10px;
  transition: background 0.2s ease-out; }

.header .menu-icon .nav-icon:before {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 10px; }

.header .menu-icon .nav-icon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -10px; }

.header .menu-btn {
  display: none; }

.header .menu-btn:checked ~ .menu {
  max-height: 240px; }

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent; }

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0; }

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0; }

.hero-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/images/negative-space-black-forest-dawn.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .hero-wrapper .hero-txt {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; }
  .hero-wrapper h1 {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    padding: 20px; }
  .hero-wrapper p {
    font-size: 1.5em;
    padding: 10px; }
  .hero-wrapper .arrow-wrap {
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative; }
    .hero-wrapper .arrow-wrap .arrow-link {
      position: absolute;
      bottom: 0px;
      margin: 30px; }
    .hero-wrapper .arrow-wrap .fas {
      font-size: 1.5em; }

.team-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .team-wrapper #om {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .team-wrapper .meet {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .team-wrapper h2 {
    display: block;
    font-size: 2em; }
  .team-wrapper h4 {
    margin-top: 50px;
    margin-bottom: 0; }
  .team-wrapper .about-who {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; }
  .team-wrapper .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; }
  .team-wrapper img {
    width: 270px;
    height: auto;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 0px 0px 20px 15px #ccc; }
  .team-wrapper .quotebox {
    box-sizing: border-box;
    background-color: #e4e4e4;
    border-radius: 10px;
    padding: 30px 45px 30px 45px;
    width: 65%; }
  .team-wrapper .quoteinquote {
    display: flex;
    margin-right: 5px;
    float: left; }
  .team-wrapper .fa-quote-right {
    font-size: 2em; }
  .team-wrapper .p-info {
    text-align: left; }
  .team-wrapper .arrow-wrap2 {
    display: flex;
    justify-content: center;
    align-items: center; }
  .team-wrapper .arrow-link {
    position: relative;
    bottom: 0px;
    margin-top: 30px;
    margin-bottom: 50px; }
  .team-wrapper a,
  .team-wrapper .black {
    font-size: 1.5em;
    color: black; }

#kontakt {
  display: flex;
  flex-direction: column;
  background-color: black; }
  #kontakt .kontakt-wrap {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: black;
    height: 200px; }
  #kontakt .adtelmedia-wrap {
    box-sizing: border-box;
    display: flex;
    text-align: left;
    align-items: left;
    flex-direction: column;
    width: 231px;
    height: 130px; }
  #kontakt .fab {
    margin-right: 10px; }
  #kontakt p {
    font-size: 1.3em;
    margin: 10px; }

@media screen and (min-width: 768px) {
  li:hover {
    text-decoration: underline; }
  .header li {
    float: left; }
  .header li a {
    padding: 20px 30px; }
  .header .menu {
    clear: none;
    float: right;
    max-height: none; }
  .header .menu-icon {
    display: none; } }

@media screen and (min-width: 768px) {
  .team-wrapper {
    flex-flow: row wrap;
    padding: 0px 60px 0px 60px; }
  .meet {
    flex: 1 100%; }
  .about-who {
    flex: 1 1 50%; }
  img.respons {
    width: 350px; }
  #kontakt {
    flex-direction: row;
    justify-content: space-around;
    padding: 2%; } }
